:ruby
  Heading = import("/components/Heading")
  Counter = import("/components/Counter")
  Handlers = import("/components/Handlers")
  Ordering = import("/components/Ordering")

  def initialize
    @count = 0
  end

  def mount
    puts "mounted"
    loop do
      @count += 1
      sleep 1
    end
  end
:ruby
  title = props[:title]
  items = ["foo", "bar", "baz"]
%head
  %title My webpage #{@count}
  %meta(content="foobar #{@count / 2}"){name: "hello"}/
%div
  %Heading My webpage
  %h2.subtitle= title
  %details{open: "open"}
    %summary Handlers
    %Handlers
  %details
    %summary Counter
    %Counter
  %details
    %summary Ordering
    %Ordering
  %details
    %summary List
    %ul
      = items.to_enum.with_index.map do |item, i|
        %li{foo: "bar"}{class: i.zero? && :first}[i]
          %h3
            %span> Static
            %span= item
          %ul
            = item.each_char.with_index.map do |char, j|
              %li[j]= char
:css
  h3 {
    background: #f0f;
  }

  .subtitle {
    font-weight: bold;
  }
