:ruby
  Button = import("./Button")

  def initialize
    @count = 0
    @count2 = 0
  end

  def mount
    async do
      loop do
        @count += 1
        @count %= 16
        sleep 1
      end
    end

    async do
      loop do
        @count2 += 1
        sleep 0.5
      end
    end
  end

  def hello
  end

%div
  %output= @count
  %h1{style: { font_size: @count * 4, transition: "font-size 500ms", margin: 0 }
  }
    = "cou#{@count2}nter"
  = if @count in 3..12
    %h2 HELLO! #{@count}
  %p{style: { font_size: 2.em }}
    = if @count in 5..10
      = ["foo", (@count in 7..9) ? "bar" : nil, "baz"].compact
    = if @count == 2
      %Button(onclick=hello) click me
