:ruby
  def initialize
    @count = 0

    async do
      loop do
        puts "Increasing count"
        @count += 1
        sleep 1
      end
    end
  end

%div
  %output= @count
  = if @count in 5..10
    %h2 HELLO!
  = if @count in 7..9
    = ["foo", @count == 5 ? "bar" : nil, "baz"].compact
  = if @count == 8
    hopp
