:ruby
  def initialize
    @count = 0
  end

  def mount
    async do
      loop do
        puts "Increasing count"
        @count += 1
        sleep 1
      end
    end
  end

%div
  %output= @count
  = if @count in 3..12
    %h2 HELLO! #{@count}
  = if @count in 5..10
    = ["foo", (@count in 7..9) ? "bar" : nil, "baz"].compact
  = if @count == 8
    hopp
